<body>
    <h1>Icone do site</h1>
    <div class="dTela-escolher-materia">
        <form action="#">
            <div class="dCursos">
                <div class="cursos">
                    <label for="curso">Curso</label>
                    <select id="curso">
                        <option value=""> </option>
                    </select>
                </div>

                <div class="dPeriodoA">
                    <label for="periodoA">Período Atual</label>
                    <select id="periodoA">
                        <option value=""> </option>
                    </select>
                </div>

                <div class="dAnoI">
                    <label for="anoI">Ano de Ingressão</label>
                    <select id="anoI">
                        <option value=""> </option>
                    </select>
                </div>

                <div class="dFormIn">
                    <label for="formIn">Forma de ingressão</label>
                    <select id="formIn">
                        <option value=""> </option>
                    </select>
                </div>

            </div>
            <button type="submit" class="bEscoMaterias">Prosseguir</button>
        </form>
    </div>
</body>