.dTela-Cadastro {
  background-color: white;
  border: 3px solid #802da4;
  border-top: 10px solid #802da4;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding: 10%;
  padding-bottom: 5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

  position: relative;
  width: 130%;
  text-align: center;
}

h1 {
  color: #802da4;
  margin-bottom: 15%;
  font-size: 300%;
  font-weight: 700;
}

h2 {
  color: #802da4;
  margin-top: 0px;
  font-size: 171.3%;
}

.dDados {
  margin-bottom: 3%;
  margin-right: 5%;
  text-align: left;
}


label {
  display: block;
  margin-bottom: 5px;
  font-size: 125%;
  font-weight: bold;
  color: #000;
}


input, select{
  width: 100%;
  height: 25px;
  font-size: 20px;
  padding: 8px;
  border: 2px solid #802da4;
  border-radius: 4px;
  background-color: #f8f8f8;
}

.voltar-login {
  display: flex;
  margin: 10px;
  font-size: 15px;
  color: #802da4;
  text-decoration: none;
  font-weight: bold;
}


.bCadastrar {
  background-color: #802da4;
  color: white;
  border: none;
  padding: 3%;
  border-radius: 15px;
  cursor: pointer;
  font-size: 150%;
  width: 50%;


  /* height: 50px;
  width: 100%;
  border-radius: 5px; */
}

.bCadastrar:hover {
  background-color: #9133b9;
}


.coordenador {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10px;
  right: -300px;
  width: 250px;
  text-align: left;
  display: flex;
  /* border: 2px solid #802da4;
  border-radius: 8px;  */
  padding: 10px;
}

.coordenador .cheque
{
  display: flex;

}

.coordenador .cheque input
{
  width: 14px;
  height: 14px;
  margin-top: 5.3px;
  margin-right: 8px;
  transform: scale(1.3);
}


.coordenador .dPortaria
{
  border: 3px solid #802da4;
  border-bottom: 10px solid #802da4;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-top: 10px;
  padding-bottom: 10%;
  padding-top: 2%;
  padding-left: 3%;
  padding-right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.coordenador .dPortaria label
{
  display: flex;

}

.coordenador .dPortaria input
{
  width: 90%;
  height: 150px;
  text-align: center;
}

.input-error {
  border-color: red;
}

.error
{
  color: red;
  font-size: 14px;
  margin-top: 5px;
  font-weight: bold;

}

input.ng-invalid.ng-touched {
  border-color: red;
}

#cursos select
{
  width: 105.763%;
  height: 45px;
}

#curso
{
  font-size: 125%;
}

.rodape_arrumador {
  height: 30px;
  visibility: hidden;
}

.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #802da4;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.custom-file-upload:hover {
  background-color: #9133b9;
}

#portaria {
  display: none;
}

.google-login-container {
display: flex;
align-items: center;
margin: 20px 0;
}

.google-login-container hr {
flex: 1;
height: 1px;
background: #ccc;
border: none;
}

.google-login-container span {
padding: 0 10px;
color: #666;
}

.google-login-button {
display: flex;
align-items: center;
padding: 10px 20px;
border: none;
border-radius: 5px;
background-color: #802da4; /* Cor roxa */
color: white;
font-weight: bold;
font-size: 16px;
text-decoration: none;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
transition: background-color 0.3s;
gap: 8px; /* Espaço entre o ícone e o texto */
}

.google-login-button:hover {
background-color: #6e2490; /* Cor roxa mais escura no hover */
}

.google-icon {
width: 20px;
}
